<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Il tuo annuncio", photographers_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Le tue prenotazioni", photographers_path, class: "sidebar-link" %></li>
		</ul>
	</div>