<div class="row">
    <div class="col-md-3">
        <ul class="sidebar-list">
            <li class="sidebar-item"><%= link_to "Il tuo annuncio", photographers_path, class: "sidebar-link" %></li>
            <li class="sidebar-item"><%= link_to "Modifica l'annuncio", edit_photographer_path, class: "sidebar-link active" %></li>
            <li class="sidebar-item"><%= link_to "Le tue prenotazioni", my_reservations_path, class: "sidebar-link" %></li>
        </ul>
    </div>

    <div class="col-md-9">
          <%= render 'form' %>
      </div>
</div>