<p>Ciao <%= @resource.nome %>,<br/>
<br/>
La tua password è stata modificata di recente. <br/>
<br/>
Se sei stato tu a compiere quest'azione, puoi tranquillamente ignorare questa mail.<br/>
<br/>
Se non hai eseguito tu questa azione, mettiti in contatto con noi!</p>
