<p>Ciao <%= @resource.nome %>,<br/>
<br/>
Abbiamo ricevuto una richiesta per resettare la tua password. Se non sei stato tu a mandarla puoi ignorare questa email. Altrimenti puoi impostare la tua nuova password cliccando su questo link:<br/>
<br/>
<%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>
